

@{
    Layout = null;
}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col col-3">
            <img src="~/wwwroot/imgs/logo.png" alt="logo" />
            <div>
                <i class="fas fa-map-marker-alt mr-3 mt-3 text-primary"></i>Ngõ
                Bắc,Thôn Châu Phong Xã Liên Hà, Đông Anh, Hà Nội
            </div>
            <div>
                <i class="fas fa-mobile-alt mr-3 mt-3 text-primary"></i>
                <a href="tel:0923456789" class="footer-item">0923456789</a>
            </div>
            <div>
                <i class="far fa-envelope mr-3 mt-3 text-primary"></i>
                <a href="mailto:abcsds1@gmail.com" class="footer-item">abcsds1@gmail.com</a>
            </div>
        </div>
        <div class="col col-3">
            <h4>SẢN PHẨM</h4>
            <ul>
                <li>
                    <a href="Danhmuc.html" class="footer-item">
                        Bàn ghế phòng khách
                    </a>
                </li>
                <li><a href="Danhmuc.html" class="footer-item"> Giường</a></li>
                <li>
                    <a href="Danhmuc.html" class="footer-item"> Đồng hồ cây</a>
                </li>
                <li><a href="Danhmuc.html" class="footer-item"> Kệ tivi</a></li>
                <li>
                    <a href="Danhmuc.html" class="footer-item"> Bàn ghế phòng ăn</a>
                </li>
                <li>
                    <a href="Danhmuc.html" class="footer-item"> Bàn trang điểm</a>
                </li>
                <li><a href="Danhmuc.html" class="footer-item"> Bàn trà</a></li>
            </ul>
        </div>
        <div class="col col-3">
            <h4>MENU</h4>
            <ul>
                <li><a href="Danhmuc.html" class="footer-item"> Trang chủ</a></li>
                <li><a href="Danhmuc.html" class="footer-item"> Sản phẩm</a></li>
                <li><a href="Danhmuc.html" class="footer-item"> Đồ thờ</a></li>
                <li><a href="Danhmuc.html" class="footer-item"> Tủ</a></li>
                <li><a href="Danhmuc.html" class="footer-item"> Blog</a></li>
                <li>
                    <a href="Danhmuc.html" class="footer-item"> Giới thiệu</a>
                </li>
                <li>
                    <a href="Danhmuc.html" class="footer-item">
                        Tuyển cộng tác viên
                    </a>
                </li>
            </ul>
        </div>
        <div class="col col-3">
            <img src="~/wwwroot/imgs/map.jpg"
                 style="width: 100%; height: 250px"
                 alt="" />
        </div>
    </div>
</div>
