
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Số lượng sản phẩm trong kho : <h2>1250</h2> sản phẩm
                        <div class="float-right mt-4" style="">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Số lượng danh mục : <h2>5</h2> danh mục
                        <div class="float-right mt-4" style="">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Số tài khoản khách hàng : <h2>1250</h2> tài khoản
                        <div class="float-right mt-4" style="">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Số lượng sản phẩm đã bán : <h2>750</h2> sản phẩm
                        <div class="float-right mt-4">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Doanh thu tháng : <h2>1.750.650.000VNĐ</h2>
                        <div class="float-right mt-4">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Doanh thu quý : <h2>6.150.650.000VNĐ</h2>
                        <div class="float-right mt-4">Đã cập nhật</div>
                    </div>
                </div>
            </div>
            <div class="col col-4 mt-3">
                <div class="show-info">
                    <div class="bg-success text-white" style="height: 150px; border-radius: 10px;padding: 12px;">
                        Lượng khách hàng quay lại theo năm : <h2>415</h2> khách
                        <div class="float-right mt-4">Đã cập nhật</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

